.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #111, #000);
}

.content {
  text-align: center;
}

.title {
  font-size: 6rem;
  font-weight: 75;
  filter: brightness(1.2);
  color: white;
  margin-top: -2.0rem;
  margin-bottom: -2.0rem;
}

.highlight {
  color: var(--blue);
}

.subtitle {
  /* color: #999; */
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 50px;
  /* font-weight: bold; */
  font-size: 1.1rem;
  font-family: 'Lexend Zetta', sans-serif;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.button:active {
  transform: scale(0.95);
}

.login {
  background-color: var(--spotify);
  color: white;
}

.login:hover {
  background-color: var(--spotify);
}

.logout {
  background-color: var(--maroon);
  color: white;
  margin-bottom: 1.5rem;
}

.logout:hover {
  background-color: var(--maroon);
}

.connected {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 1.8rem;
  gap: 2.5rem;
  z-index: 0;
  position: relative;
  overflow: visible;
}

.status {
  color: var(--spotify);
  font-size: 1.25rem;
}